<p *ngIf="!panelDetail"><em>Loading...</em></p>

<div class="container" *ngIf="panelDetail">
  <h1><!--{{panelDetail.name}} Details Form--></h1>

  <div class="panel panel-default">
    <div class="panel panel-heading">
      Selaata Details Form
      </div>
    <div class="panel-body">

  <form>
  <div class="row">
      <div class="form-group col-sm-4">
        <label for="name">Site Id</label>
        <input type="text" class="form-control" id="name" [value]="panelDetail.idSite" /><!--required-->
      </div>
      <div class="form-group col-sm-4">
        <label for="name">Access Level</label>
        <input type="text" class="form-control" id="name" [value]="panelDetail.accessLevel" /><!--required-->
      </div>
      <div class="form-group col-sm-4">
        <label for="name">Owner</label>
        <input type="text" class="form-control" id="name" [value]="panelDetail.owner" /><!--required-->
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4">
        <label for="name">Is Admin</label>
        <input type="text" class="form-control" id="name" [value]="panelDetail.isAdmin" /><!--required-->
      </div>
      <div class="form-group col-sm-4">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" [value]="panelDetail.name" /><!--required-->
      </div>
      <div class="form-group col-sm-4">
        <label for="name">Identifier</label>
        <input type="text" class="form-control" id="name" [value]="panelDetail.identifier" /><!--required-->
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4">
        <label for="name">User Id</label>
        <input type="text" class="form-control" id="name" [value]="panelDetail.idUser" /><!--required-->
      </div>
      <div class="form-group col-sm-4">
        <label for="name">Max PV</label>
        <input type="text" class="form-control" id="name" [value]="panelDetail.pvMax" /><!--required-->
      </div>
      <div class="form-group col-sm-4">
        <label for="name">Timezone</label>
        <input type="text" class="form-control" id="name" [value]="panelDetail.timezone" /><!--required-->
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4">
        <label for="name">Phonenumber</label>
        <input type="text" class="form-control" id="name" [value]="panelDetail.phonenumber" /><!--required-->
      </div>
      <div class="form-group col-sm-4">
        <label for="name">Geofence Enabled</label>
        <input type="text" class="form-control" id="name" [value]="panelDetail.geofenceEnabled" /><!--required-->
      </div>
      <div class="form-group col-sm-4">
        <label for="name">Has Mains</label>
        <input type="text" class="form-control" id="name" [value]="panelDetail.hasMains" /><!--required-->
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4">
        <label for="name">Has Generator</label>
        <input type="text" class="form-control" id="name" [value]="panelDetail.hasGenerator" /> <!--required-->
      </div>
      <div class="form-group col-sm-4">
        <label for="name">Alarm Monitoring</label>
        <input type="text" class="form-control" id="name" [value]="panelDetail.alarmMonitoring" /> <!--required-->
      </div>
      <div class="form-group col-sm-4">
        <label for="name">Invalid VRM Token Used</label>
        <input type="text" class="form-control" id="name" [value]="panelDetail.invalidVRMAuthTokenUsedInLogRequest" /> <!--required-->
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4">
        <label for="name">Invalid Mqtt Password</label>
        <input type="text" class="form-control" id="name" [value]="panelDetail.invalidMqttPasswordSentAt" /> <!--required-->
      </div>
      <div class="form-group col-sm-4">
        <label for="name">Sys Created</label>
        <input type="text" class="form-control" id="name" [value]="panelDetail.syscreated" /><!--required-->
      </div>
      <div class="form-group col-sm-4">
        <label for="name">Device Icon</label>
        <input type="text" class="form-control" id="name" [value]="panelDetail.deviceIcon" /><!--required-->
      </div>
    </div>
  </form>
    </div>
    <div class="panel-footer">
    <div>
      <button *ngIf="panelDetail" type="button" class="btn btn-primary" [routerLink]="['devices']">Get Connected Devices</button>&nbsp;      &nbsp;
      <button *ngIf="panelDetail" type="button" class="btn btn-primary" [routerLink]="['diagnostics']">Get Diagnostics Data Devices</button>
    </div>
  </div>

    </div>
</div>
