<p *ngIf="!installations"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="installations">
  <thead>
    <tr>
      <!--<th>IdSite</th>
      <th>AccessLevel</th>
      <th>Owner</th>
      <th>is_admin</th>-->
      <th>Site Name</th>
      <!--<th>Identifier</th>
      <th>IdUser</th>-->
      <th>Maximum PV</th>
      <th>Timezone</th>
      <!--<th>Phonenumber</th>-->
      <!--<th>Is Geofence Enabled</th>
      <th>HasMains</th>
      <th>HasGenerator</th>
      <th>AlarmMonitoring</th>
      <th>InvalidVRMAuthTokenUsedInLogReques</th>
      <th>InvalidMqttPasswordSentAt</th>
      <th>device_icon</th>
      <th>syscreated</th>-->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let installation of installations">
      <!--<td>{{installation.idSite}}</td>
      <td>{{installation.accessLevel}}</td>
      <td>{{installation.owner}}</td>
      <td>{{installation.is_admin}}</td>-->
      <td>
        <a [title]="installation.name" [routerLink]="['/installation' , installation.idSite]">{{installation.name}}</a>
      </td>
      <!--<td>{{installation.identifier}}</td>
      <td>{{installation.idUser}}</td>-->
      <td>{{installation.pvMax}}</td>
      <td>{{installation.timezone}}</td>
      <!--<td>{{installation.phonenumber}}</td>
      <td>{{installation.geofenceEnabled}}</td>
      <td>{{installation.hasMains}}</td>
      <td>{{installation.hasGenerator}}</td>
      <td>{{installation.alarmMonitoring}}</td>
      <td>{{installation.invalidVRMAuthTokenUsedInLogRequest}}</td>
      <td>{{installation.invalidMqttPasswordSentAt}}</td>
      <td>{{installation.syscreated}}</td>
      <td>{{installation.device_icon}}</td>
      <td>{{installation.syscreated}}</td>-->
    </tr>
  </tbody>
</table>
