<p *ngIf="!diagnosticsDataDevicesReadings"><em>Loading...</em></p>


<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="diagnosticsDataDevicesReadings">
  <thead>
    <tr>
      <th>Reading Id</th>
      <th>Created On</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reading of diagnosticsDataDevicesReadings">
      <td><a href="#">{{reading.id}}</a></td>
      <td>{{reading.createOn}}</td>
    </tr>
  </tbody>
</table>
